.App {
  text-align: center;
  justify-content: center;
  display: flex;
  align-content: center;
  font-size: calc(5px + 2vmin);
  
}

.app-container{

  
  max-width: 90vw;
  margin: auto ;
  margin :5em auto  5em 3em;

  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.categories-container{
  display: inline-block;

}

.navBar{
  display:grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 2em;
  justify-content: space-evenly;

  font-size: calc(5px + 2vmin);
  margin:5em auto  5em 3em;
  font-family: Raleway;
  background-color: antiquewhite;
}
.navBar div:first-child {
  text-align: center;
  float: left;



}

.navBar div li {
  display: inline;
  margin-left: 1em;
}



.navIcon{
  min-width: 1.2em;
  max-width:1.2em ;
  min-height: 1.2em;
 margin-left: 1em;
 

}
.cart{
  min-width: 1.2em;
  max-width:1.2em ;

  min-height: 1.2em;
 margin-left: 1em;
}

#cart{
  min-width: 1.2em;
  max-width:1.2em ;

  min-height: 1.2em;
 margin-left: 1em;
}
.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


.container{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

}

.thubnail{
  width: 350px;
  height:fit-content;
  border:  solid black 1px;
margin:5em auto  5em 3em;
text-align: left;
line-height: 1.6;
background-color: aliceblue;

}
.thubnailimg {
  width: 350px;
  height: auto;
}


.product-container{

  display: flex;
  flex-direction: row;
  margin-left: 5em;
}

.images-container{
  background-color: antiquewhite;
}
.images-container img:first-child{
 max-height: 511px;
max-width: 610px;

padding: 1em;
float: right;


}

.images-container .img-nav{
  max-height: 511px;
  width: auto;

  overflow-y: auto;
  display: flex;
  flex-direction: column;

}
.images-container .img-nav img{
  display: block;
  max-width:100px;
  min-width: 50px;

  max-height: auto;
  min-height: auto;
 
 padding: 1em;
 border-radius: 0px;
 
 }

 .images-container .img-nav img:hover{
   background-color: #5ECE7B;

 }


 .product-info{
  font-family: Raleway;
  font-style: normal;
  text-align: left;
  margin-left: 5em;
  
 }
 .product-info .cart {
 
  padding: 16px 32px;
  
  width: fit-content;
  height: auto;
 
  
  background: #5ECE7B;
 }