.App {
  justify-content: center;
  display: flex;
  align-content: center;
  font-size: calc(5px + 2vmin);
font-family: Raleway;
font-style: normal;


}

.app-container {
  max-width: 90%;
  margin: 5em auto 5em 3em;
}



.App-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.categories-container {
  display: inline-block;
}
.nav-container{
  width: 100%;
  min-height: 150px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: calc(5px + 2vmin);
  font-family: Raleway;
}
.leftnavBar {
  display: flex;
  margin-right: 10px;
  padding: 10px;

}


.navBar div li {
  display: inline;
  margin-left: 1em;
}

.navIcon {
  min-width: 1.2em;
  max-width: 1.2em;
  min-height: 1.2em;
  margin-left: 5px;

}

.logo {
  pointer-events: none;
  margin-right: 5em;
}
.dropDown{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  margin-right: 1em;
}


.navLink{
  text-decoration: "none";
  color: #1D1F22;
}
.action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;

  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: center;
  background: #5ECE7B;
  color: #ffffff;
  width: 292px;
  border: 0ch;
  cursor: pointer;
}
.cart-btn:disabled{
  background: #5c5e5c;
  color: #313030;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}


.thubnail {
  width: 350px;
  height: fit-content;
  margin: 5em auto 5em 3em;
  text-align: left;
  line-height: 1.6;
  background-color: aliceblue;
}
.thubnailimg {
  width: 350px;
  height: auto;
}
.thubnail:hover
 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);

}

.product-container {
  display: flex;
  flex-direction: row;
  margin-left: 5em;
}


.images-container img:first-child {
  max-height: 511px;
  max-width: 610px;

  padding: 1em;
  float: right;
}

.images-container .img-nav {
  max-height: 511px;
  width: auto;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.images-container .img-nav img {
  display: block;
  min-width: 50px;
  max-width: 100px;
  max-height: 100px;
  min-height: auto;
  cursor: pointer;

  padding: 1em;
  border-radius: 0px;
}

.images-container .img-nav img:hover {
  background-color: #5ece7b;
}

.product-info {
  font-family: Raleway;
  font-style: normal;
  text-align: left;
  margin-left: 5em;
  margin-bottom: 10em;
}
.product-info .cart {
  padding: 16px 32px;

  width: fit-content;
  height: auto;

  background: #5ece7b;
}

.atributes {
  display: flex;
  width: 292px;
  align-items: flex-start;
  cursor: pointer;

}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type="radio"] {
  display: none;
  margin: 10px;
}

#color-input{

  display: inline-block;
  margin-right:10px;
  padding: 10px;
  width:20px;
  height:20px ;
  background-color: #ffffff;
  text-align: center;

}

/*
Change the look'n'feel of labels (which are adjacent to radiobuttons).
Add some margin, padding to label
*/
input[type="radio"] + label {
  font: Source Sans Pro;

  display: inline-block;
  margin-right: 5px;
  padding: 10px;
  background-color: #ffffff;
  height: fit-content;
  text-align: center;
  width: fit-content;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  cursor: pointer;

}
/*
Change background color for label next to checked radio button
to make it look like highlighted button
*/
input[type="radio"]:checked + label {
  background-image: none;
  color: #ffffff;
  background-color: #1d1f22;
  border-width: 3px;
  border-color: #1f1f1f;

}

#discription{
  color: #1d1f22;
}

.link{
  text-decoration: none;
}

/* this is pop up styling    */   

.model{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius:10px;
  z-index: 10;
  background-color: #ffffff;
  width: 500px;
  min-height: 300px;
  max-width: 80%;
}
.model.active{
  transform: translate(-50%,-50%) scale(1);

}

.model-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}
.model-header .title {
  font-size: 1.25rem;
}

.icon-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #585858;
  margin: 0;
  padding: 0;
}
.model-body{
  padding: .5em;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;
}
#overlay.active{
opacity: 1;
pointer-events: all;
}


.cart-container{
  display: flex;
  flex-direction: column;

  text-align: left;
  width: 1000px;


}

.cart-info{
display: flex;
justify-content: space-between;
align-items: center;
padding: .5em;
}

.cart-info .img-toggle {
  align-content: center;
  text-align: center;
  }


.cart-img{
  display: block;
  min-width: 50px;
  max-width: 200px;
  max-height: 300px;
  height: auto;
  cursor: pointer;

  padding: 1em;
  border-radius: 0px;
}
