.App {
  text-align: center;
  justify-content: center;
  display: flex;
  align-content: center;
  font-size: calc(5px + 2vmin);
}

.app-container{

  
  max-width: 90vw;
  margin: auto ;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navBar{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(5px + 2vmin);
  margin:5em auto  5em 3em;


}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


.container{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.thubnail{
  width: 350px;
  height:fit-content;
  border:  solid black 1px;
margin:5em auto  5em 3em;
text-align: left;
line-height: 1.6;

}
.thubnail img {
  width: 350px;
  height: auto;
}